@charset "UTF-8";
h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  padding-top: 200px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
}

h2.gul {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #F3AE3D;
  margin-bottom: 30px;
  padding-top: 50px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding-bottom: 30px;
}

h2.hvid {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 20px;
}

h3.sort {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: 17px;
  margin-top: 20px;
}

h5.italic {
  font-style: italic;
}

p {
  font-size: 16px;
  line-height: 1.8;
  color: #000000;
}

p.small {
  font-size: 14px;
  line-height: 1.8;
  padding-top: 12px;
  color: #000000;
}

p.hvid {
  font-size: 16px;
  line-height: 1.8;
  color: #FFFFFF;
}

p.italic {
  font-size: 16px;
  line-height: 1.8;
  color: #000000;
  font-style: italic;
}

p.italic-hvid {
  color: #FFFFFF;
  font-style: italic;
  padding-bottom: 40px;
}

.btn, .btn-secondary2, .btn-secondary, .btn-primary {
  padding: 10px 40px;
  font-size: 20px;
  background-color: #F3AE3D;
  color: #FFFFFF;
  border: 2px;
}

.btn-primary {
  background-color: #8E4949;
}

.btn-secondary {
  background-color: transparent;
  color: #F3AE3D;
  border: 2px solid #F3AE3D;
  margin-top: 20px;
}

.btn-secondary2 {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Banner component start */
.banner-container {
  position: relative;
  height: 400px;
  background-color: rgba(62, 62, 62, 0.7);
}
.banner-container .banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@media (max-width: 800px) {
  .banner-container {
    height: 500px;
  }
}
/* Banner component slut */
/* Cities component start */
.contact-section {
  background-color: #FDF8F1;
  width: 100%;
  padding-bottom: 50px;
}
.contact-section h2.heading {
  padding-top: 60px;
  text-align: start;
  margin-left: 30px;
  padding-bottom: 160px;
}
.contact-section .box-kontroler {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  gap: 50px;
  justify-content: center;
  grid-template-areas: "a b c" "d e f" "g g g";
}
.contact-section .box-kontroler .outer-box-01, .contact-section .box-kontroler .outer-box-02, .contact-section .box-kontroler .outer-box-03, .contact-section .box-kontroler .outer-box-04, .contact-section .box-kontroler .outer-box-05, .contact-section .box-kontroler .outer-box-06 {
  width: 200px;
  height: 250px;
  border-color: #F3AE3D;
  border: 3px solid #F3AE3D;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section .box-kontroler .outer-box-01 img, .contact-section .box-kontroler .outer-box-02 img, .contact-section .box-kontroler .outer-box-03 img, .contact-section .box-kontroler .outer-box-04 img, .contact-section .box-kontroler .outer-box-05 img, .contact-section .box-kontroler .outer-box-06 img {
  width: 90px;
}
.contact-section .box-kontroler .outer-box-01 .tekst-top, .contact-section .box-kontroler .outer-box-02 .tekst-top, .contact-section .box-kontroler .outer-box-03 .tekst-top, .contact-section .box-kontroler .outer-box-04 .tekst-top, .contact-section .box-kontroler .outer-box-05 .tekst-top, .contact-section .box-kontroler .outer-box-06 .tekst-top {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 910px) {
  .contact-section .box-kontroler {
    grid-template-areas: "a b c" "d e f" "g g g";
  }
}
@media (max-width: 766px) {
  .contact-section .box-kontroler {
    justify-content: center;
    gap: 50px;
    grid-template-areas: "a b" "c d" "e f" "g g";
  }
}
@media (max-width: 500px) {
  .contact-section .box-kontroler {
    justify-content: center;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    gap: 20px;
  }
}

.outer-box-01 {
  grid-area: a;
}

.outer-box-02 {
  grid-area: b;
}

.outer-box-03 {
  grid-area: c;
}

.outer-box-04 {
  grid-area: d;
}

.outer-box-05 {
  grid-area: e;
}

.outer-box-06 {
  grid-area: f;
}

.button-box {
  grid-area: g;
}

/* Cities component slut */
/* Contact form component start */
.image-section {
  position: relative;
  width: 100%;
  height: 550px;
}
.image-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.image-section .responsive-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-section .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}
.image-section .form-container .form-group {
  margin-bottom: 1rem;
  width: 100%;
}
.image-section .form-container .form-group input#vikar {
  padding: 20px;
}
.image-section .form-container .form-group .checkbox-group {
  display: flex;
  align-items: center;
  width: 150px;
}
.image-section .form-container .form-group .checkbox-group input {
  width: 100%;
  height: 30px;
  padding: 5px;
}
.image-section .form-container .form-group .checkbox-group label {
  color: #FFFFFF;
}
.image-section .form-container .form-group .checkbox-group:not(:last-child) {
  margin-bottom: 0.5rem; /* Juster denne værdi efter dine præferencer */
}
.image-section .form-container input[type=text],
.image-section .form-container input[type=email],
.image-section .form-container input[type=tel] {
  width: 100%;
  height: 30px;
}
.image-section .form-container textarea {
  width: 100%;
  height: 100px; /* Juster denne værdi efter dine præferencer */
}

@media (max-width: 650px) {
  .form-container {
    max-width: 350px;
  }
}
@media (max-width: 460px) {
  .form-container {
    max-width: 250px;
  }
}
/* Contact form component slut */
/* Contact section  component start */
.image-section-2 {
  position: relative;
  width: 100%;
  height: 400px;
}
.image-section-2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.image-section-2 .responsive-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-section-2 .content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  padding-left: 100px;
  padding-top: 100px;
  color: #FFFFFF;
}

/* Contact section  component slut */
/* Icon banner component start */
.logo-container {
  width: 100%;
  height: 150px;
  background-color: #8E4949;
  display: grid;
  grid-template-areas: "a b c d";
  align-items: center;
  gap: 60px;
  justify-content: center;
}
.logo-container img {
  height: 150px;
}
@media screen and (max-width: 920px) {
  .logo-container .logo-container {
    gap: 30px;
  }
  .logo-container img {
    height: 130px;
  }
}
@media screen and (max-width: 740px) {
  .logo-container .logo-container {
    gap: 30px;
  }
  .logo-container img {
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .logo-container .logo-container {
    height: 140px;
    gap: 5px;
    justify-content: space-evenly;
  }
  .logo-container img {
    height: 60px;
  }
}

.logo1 {
  grid-area: a;
}

.logo2 {
  grid-area: b;
}

.logo3 {
  grid-area: c;
}

.logo4 {
  grid-area: d;
}

/* Icon banner component slut */
/* JobTest component start */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.filter-bar .filter-bar select,
.filter-bar .filter-bar button {
  padding: 10px;
  min-width: 150px;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.box-container .box {
  border: 1px solid #000;
  padding: 20px;
  width: 800px;
}
.box-container .box .box-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.box-container .box .box-text {
  margin-bottom: 35px;
}
.box-container .box .box-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.box-container .box .box-buttons .button1 {
  width: 130px;
  height: 40px;
  background-color: #F3AE3D;
  color: #fff;
  border: none;
  font-size: 15px;
}
.box-container .box .box-buttons .button2 {
  height: 40px;
  width: 130px;
  background-color: #8E4949;
  color: #fff;
  border: none;
  font-size: 15px;
}
@media (max-width: 890px) {
  .box-container .box {
    width: 600px;
  }
}
@media (max-width: 680px) {
  .box-container .box {
    width: 400px;
  }
}
@media (max-width: 490px) {
  .box-container .box {
    width: 250px;
  }
}

/* JobTest component slut */
/* Logoslider component start */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  width: auto;
  justify-content: center;
  align-items: center;
}
.slider .slider-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 5250px;
}
.slider .slider-track .slide {
  height: 100px;
  width: 250px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}
.slider .slider-track .slide img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider .slider-track .slide:hover {
  filter: grayscale(0%);
}
.slider .slider-track .slide + .logo-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slider .slider-track .slide:hover + .logo-overlay {
  opacity: 1;
}
.slider:hover .slide {
  animation-play-state: paused;
}
.slider .logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slider:hover .logo-overlay {
  opacity: 1;
}

/* Logoslider component slut */
/* Nav component start */
header {
  background-color: transparent;
  z-index: 999;
  width: 100%;
  top: 0;
  position: fixed;
  transition: 0.5s ease all;
}
header nav {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  transition: 0.5s ease all;
  width: 90%;
  margin: 0 auto;
}
header nav .branding {
  display: flex;
  align-items: center;
  z-index: 999;
}
header nav .branding img {
  width: 180px;
  transition: 0.5s ease all;
}
header nav .navigation {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
header nav .navigation .link {
  font-size: 16px;
  transition: 0.5s ease all;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-weight: 500;
  color: white;
  list-style: none;
}
header nav .navigation .link:hover {
  border-color: #F3AE3D;
}
header nav .navigation li {
  padding: 16px;
  margin-left: 16px;
}
header nav .navigation li a {
  list-style: none;
}
header nav .navigation .login-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #F3AE3D;
  text-decoration: none;
  transition: 0.5s ease all;
}
header nav .navigation .login-link .login-btn {
  display: flex;
  align-items: center;
}
header nav .icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 24px;
  height: 100%;
  color: white;
  z-index: 999;
}
header nav i {
  cursor: pointer;
  font-size: 24px;
  transition: 0.8s ease all;
}
header nav .icon-active {
  transform: rotate(180deg);
}
header nav .dropdown-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: #303030;
  top: 80px;
  left: 0;
}
header nav .dropdown-nav .link {
  font-size: 16px;
  transition: 0.5s ease all;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-weight: 500;
  color: white;
  list-style: none;
}
header nav .dropdown-nav .link:hover {
  border-color: #F3AE3D;
}
header nav .dropdown-nav li {
  padding: 16px;
  margin-left: 16px;
}
header nav .dropdown-nav li a {
  list-style: none;
}
header nav .dropdown-nav .login-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #F3AE3D;
  text-decoration: none;
  transition: 0.5s ease all;
}
header nav .dropdown-nav .login-link .login-btn {
  display: flex;
  align-items: center;
}

header.scrolled-nav {
  background-color: #303030;
}

@media (min-width: 1140px) {
  nav {
    max-width: 1140px;
  }
}
li::marker {
  content: none;
}

/* Nav component slut*/
/* Section component start*/
section {
  background: #FDF8F1;
  height: 750px;
}
section .boxes {
  display: grid;
  grid-template-areas: "a b c";
  gap: 50px;
  justify-items: center;
  justify-content: center;
}
section .boxes .box1, section .boxes .box2, section .boxes .box3 {
  background-color: #fff;
  padding: 15px;
  width: 280px;
  height: 500px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 3px solid #F3AE3D;
}
section .boxes .box1 p.small1, section .boxes .box2 p.small1, section .boxes .box3 p.small1 {
  padding-top: 20px;
}
@media screen and (max-width: 1038px) {
  section .boxes {
    grid-template-areas: "a b" "c c";
    align-items: center;
  }
  section section {
    height: 1200px;
  }
}
@media screen and (max-width: 600px) {
  section .boxes {
    grid-template-areas: "a" "b" "c";
  }
  section .box1, section .box2, section .box3 {
    width: 160px;
    height: 200px;
  }
  section section {
    height: 920px;
  }
}

.box1 {
  grid-area: a;
}

.box2 {
  grid-area: b;
}

.box3 {
  grid-area: c;
}

/* Section component slut*/
/* Section-Two component start*/
section-two {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: rgba(62, 62, 62, 0.7);
}
section-two .background-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: absolute;
}
section-two .boxes {
  display: grid;
  grid-template-areas: "a b c";
  gap: 20px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
}
section-two .boxes .box2 {
  background-color: #8E4949;
  color: white;
  padding: 20px;
  width: 200px;
  height: 400px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
section-two .boxes .box1, section-two .boxes .box3 {
  background-color: #fff;
  padding: 20px;
  width: 200px;
  height: 360px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 3px solid #F3AE3D;
}
section-two .boxes .box1 .icon, section-two .boxes .box3 .icon {
  height: 80px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  section-two .boxes {
    grid-template-areas: "b b" "a c";
    align-items: center;
  }
  section-two .box2 {
    width: 250px;
  }
  section-two .background-img {
    height: 1020px;
    padding-bottom: 20px;
  }
  section-two section-two {
    height: 1000px;
  }
}
@media screen and (max-width: 600px) {
  section-two .boxes {
    grid-template-areas: "a" "b" "c";
  }
  section-two .overlay {
    height: 870px;
  }
  section-two .box1, section-two .box2, section-two .box3 {
    width: 180px;
    height: 220px;
  }
  section-two section-two {
    height: 920px;
  }
}

.box1 {
  grid-area: a;
}

.box2 {
  grid-area: b;
}

.box3 {
  grid-area: c;
}

/* Section-Two component slut*/
/* Slider component  start*/
.slider2 {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #fdf8f1;
}
.slider2 .slide2 {
  display: none;
  height: 100%;
}
.slider2 .slide2.active {
  display: flex;
}
.slider2 .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider2 .image-container .image-top {
  order: -1;
}
.slider2 .rounded-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}
.slider2 .rounded-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider2 .text-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
  justify-content: center;
}
.slider2 .text-below {
  margin-top: 20px;
}
.slider2 .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #f3ae3d;
  padding: 10px;
  cursor: pointer;
}
.slider2 .left {
  left: 10px;
}
.slider2 .right {
  right: 10px;
}
@media (max-width: 950px) {
  .slider2 .rounded-image {
    width: 250px;
    height: 250px;
  }
  .slider2 .text-container {
    padding: 0px;
  }
  .slider2 .image-container {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .slider2 .slider2 {
    height: auto;
  }
  .slider2 .slide2.active {
    display: flex;
    flex-direction: column;
  }
  .slider2 .rounded-image {
    width: 200px;
    height: 200px;
  }
}

/* Slider component  slut*/
/* Team component  start*/
.outer-box-1 {
  grid-area: a;
}

.outer-box-2 {
  grid-area: b;
}

.outer-box-3 {
  grid-area: c;
}

.outer-box-4 {
  grid-area: d;
}

.outer-box-5 {
  grid-area: e;
}

.outer-box-6 {
  grid-area: f;
}

.outer-box-7 {
  grid-area: g;
}

.outer-box-8 {
  grid-area: h;
}

.outer-box-9 {
  grid-area: i;
}

.outer-box-10 {
  grid-area: j;
}

.outer-box-11 {
  grid-area: k;
}

.contact-section {
  background-color: #FDF8F1;
  width: 100%;
  padding-left: 25px;
}
.contact-section .box-kontrol {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  gap: 20px;
  grid-template-areas: "a b c . ." "d e f g ." "h i j k .";
}
.contact-section .box-kontrol .outer-box-1, .contact-section .box-kontrol .outer-box-2, .contact-section .box-kontrol .outer-box-3, .contact-section .box-kontrol .outer-box-4, .contact-section .box-kontrol .outer-box-5, .contact-section .box-kontrol .outer-box-6, .contact-section .box-kontrol .outer-box-7, .contact-section .box-kontrol .outer-box-8, .contact-section .box-kontrol .outer-box-9, .contact-section .box-kontrol .outer-box-10, .contact-section .box-kontrol .outer-box-11 {
  width: 200px;
  height: 230px;
  background-color: #8E4949;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  margin-bottom: 100px;
}
.contact-section .box-kontrol .outer-box-1 img, .contact-section .box-kontrol .outer-box-2 img, .contact-section .box-kontrol .outer-box-3 img, .contact-section .box-kontrol .outer-box-4 img, .contact-section .box-kontrol .outer-box-5 img, .contact-section .box-kontrol .outer-box-6 img, .contact-section .box-kontrol .outer-box-7 img, .contact-section .box-kontrol .outer-box-8 img, .contact-section .box-kontrol .outer-box-9 img, .contact-section .box-kontrol .outer-box-10 img, .contact-section .box-kontrol .outer-box-11 img {
  z-index: 99;
  height: 150px;
  position: relative;
  top: -42.5%;
}
.contact-section .box-kontrol .outer-box-1 .inner-box, .contact-section .box-kontrol .outer-box-2 .inner-box, .contact-section .box-kontrol .outer-box-3 .inner-box, .contact-section .box-kontrol .outer-box-4 .inner-box, .contact-section .box-kontrol .outer-box-5 .inner-box, .contact-section .box-kontrol .outer-box-6 .inner-box, .contact-section .box-kontrol .outer-box-7 .inner-box, .contact-section .box-kontrol .outer-box-8 .inner-box, .contact-section .box-kontrol .outer-box-9 .inner-box, .contact-section .box-kontrol .outer-box-10 .inner-box, .contact-section .box-kontrol .outer-box-11 .inner-box {
  width: 98%;
  background-color: white;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  margin-left: 2px;
}
.contact-section .box-kontrol .outer-box-1 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-2 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-3 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-4 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-5 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-6 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-7 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-8 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-9 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-10 .inner-box .tekst-top, .contact-section .box-kontrol .outer-box-11 .inner-box .tekst-top {
  margin: 10px;
}
.contact-section .box-kontrol .outer-box-1 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-2 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-3 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-4 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-5 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-6 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-7 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-8 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-9 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-10 .inner-box .red-streg, .contact-section .box-kontrol .outer-box-11 .inner-box .red-streg {
  width: 28%;
  height: 4px;
  background-color: #8E4949;
}
.contact-section .box-kontrol .outer-box-1 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-2 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-3 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-4 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-5 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-6 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-7 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-8 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-9 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-10 .inner-box .kontaktinfo, .contact-section .box-kontrol .outer-box-11 .inner-box .kontaktinfo {
  color: #8E4949;
  margin-bottom: 15px;
  margin-left: 15px;
}
@media (max-width: 910px) {
  .contact-section .box-kontrol {
    grid-template-areas: "a b c" "d e f " "g h i" "j k .";
  }
}
@media (max-width: 766px) {
  .contact-section .box-kontrol {
    justify-content: center;
    gap: 50px;
    grid-template-areas: "a b" "c d" "e f " "g h" "i j" "k .";
  }
}
@media (max-width: 500px) {
  .contact-section .box-kontrol {
    justify-content: center;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k";
  }
}

/* Team component  slut*/
/* VikarSection component  start*/
section-vikar {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: rgba(62, 62, 62, 0.7);
}
section-vikar .vikar-box {
  display: grid;
  grid-template-areas: "a b";
  gap: 50px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
}
section-vikar .vikar-box .box-1, section-vikar .vikar-box .box-2 {
  padding: 20px;
  width: 200px;
  height: 360px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 800px) {
  section-vikar .vikar-box {
    grid-template-areas: "a b";
    align-items: center;
  }
  section-vikar .background-img {
    height: 1020px;
    padding-bottom: 20px;
  }
  section-vikar section-vikar {
    height: 1000px;
  }
}
@media screen and (max-width: 600px) {
  section-vikar .vikar-box {
    grid-template-areas: "a" "b";
  }
  section-vikar .overlay {
    height: 870px;
  }
  section-vikar .box-1, section-vikar .box-2s {
    width: 180px;
    height: 220px;
  }
  section-vikar section-vikar {
    height: 920px;
  }
}

.box-1 {
  grid-area: a;
}

.box-2 {
  grid-area: b;
}

/* VikarSection component  slut*/
/* About view start */
.about {
  margin-top: 50px;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 50px;
}

/* About view slut */
/* Contact view start */
.section-kontakt {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.section-kontakt h2.heading {
  text-align: start;
}
.section-kontakt span {
  color: #8E4949;
}

/* Contact view slut */
/* Home view start */
.banner-container2 {
  position: relative;
  height: 800px;
  background-color: rgba(62, 62, 62, 0.7);
}
.banner-container2 .banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.banner-container2 .box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}
.banner-container2 .box-container .boxe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 450px;
  margin: 80px;
  padding: 30px;
  background-color: rgba(32, 32, 32, 0.7);
  border: 3px solid rgb(255, 255, 255);
  color: #fff;
  text-align: center;
}
.banner-container2 .box-container .box-2 {
  border: 3px solid #F3AE3D;
}
@media screen and (max-width: 770px) {
  .banner-container2 .banner-container2 {
    height: 850px;
  }
  .banner-container2 .box-container {
    flex-direction: row;
    align-items: center;
  }
  .banner-container2 .boxe {
    width: 200px;
    height: 300px;
    margin: 40px 20px;
  }
}
@media screen and (max-width: 600px) {
  .banner-container2 .box-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .banner-container2 .banner-container2 {
    height: 900px;
  }
  .banner-container2 .boxe {
    width: 190px;
    height: 250px;
    margin: 30px 0;
  }
}
@media screen and (max-width: 480px) {
  .banner-container2 .banner-container2 {
    height: 850px;
  }
  .banner-container2 .boxe {
    width: 170px;
    height: 220px;
    margin: 30px 0;
  }
}

.about {
  margin-top: 50px;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 50px;
}
.about .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
@media screen and (max-width: 770px) {
  .about .about {
    margin: 50px 50px;
  }
}

/* Home view slut */
/* Vikar view start */
.banner-container-vikar {
  position: relative;
  height: 500px;
  background-color: rgba(62, 62, 62, 0.7);
}
@media (max-width: 800px) {
  .banner-container-vikar .banner-container-vikar {
    height: 500px;
  }
}

/* Vikar view start */
/* Footer component start */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #303030;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-direction: row;
}
footer .footer-container .footer-item {
  margin-bottom: 10px;
  padding: 10px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-item .footer-link {
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 13px;
}
footer .footer-container .footer-item img {
  width: 200px;
}
footer .social-icon i {
  margin: 8px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-item {
    width: 100%;
  }
}

/* Footer component slut *//*# sourceMappingURL=style.css.map */