@import 'colors';


// Buttons

// Standard knap
.btn {
    padding: 10px 40px;
    font-size: 20px;
    background-color: $button-color-gul;
    color: $text-color-hvid;
    border:2px;
    margin-top: 15px;
  } 
  .btn-stor{
    @extend .btn;
    width: 300px;
    height: 50px;
  } 
  // Primær knap
  .btn-primary {
    @extend .btn;
    background-color: $button-color-red;
  }
  
  // Sekundær knap
  .btn-secondary {
    @extend .btn;
    background-color: $button-color-trans;
    color: $text-color-gul;
    border: 2px solid $text-color-gul; 
    margin-top: 15px;
  }
  // ekstra sekundær knap 
  .btn-secondary2 {
    @extend .btn;
    background-color: $button-color-trans;
    color: $text-color-hvid;
    border: 2px solid $text-color-hvid;
    margin-top: 20px;
  }

  // lille knap
  .btn-small {  
    padding: 10px 40px;
    background-color: $button-color-gul;
    color: $text-color-hvid;
    border:2px;
  }