
// Overlay farver
$overlay-color: rgba(62, 62, 62, 0.7);
$background-sand: #FDF8F1;
$background-rød: #8E4949;
$background-grey: #303030;

// Tekstfarver
$text-color-gul: #F3AE3D;
$text-color-hvid: #FFFFFF;
$text-color-sort: #000000;

// Knappfarver
$button-color-rød: #8E4949;
$button-color-gul: #F3AE3D;
$button-color-trans: transparent;