
// Overlay farver
$overlay-color: rgba(0, 0, 0, 0.7);
$background-sand: #FDF8F1;
$background-hvid: #FFFFFF;
$background-red: #8E4949;
$background-grey: #303030;
$background-gul: #F3AE3D;

// Tekstfarver
$text-color-gul: #F3AE3D;
$text-color-hvid: #FFFFFF;
$text-color-sort: #000000;
$text-color-red: #8E4949;

// Knappfarver
$button-color-rød: #8E4949;
$button-color-gul: #F3AE3D;
$button-color-trans: transparent;